.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
   background: rgb(239, 138, 50);
}

.owl-theme .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
    margin: 2px 5px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots {
    margin-top: 0px;
    text-align: center;
}
.manuwrap {
    display: block;
    background: transparent;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%,100%);
    -ms-scroll-chaining: chained;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
}
.manuwrap .scroll {
    white-space: nowrap;
    width: 640px;
}
.manuwrap a {
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin-right: 5px;
    overflow: hidden;
}
.manuwrap a img {
    height: 20px;
    width: auto;
    display: block;
    padding: 10px 5px;
}


.hometitle {
    display: block;
    overflow: hidden;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px;
}

/*new filter category.dwt */
.sortby {
    display: block;
    overflow: hidden;
    padding: 10px;
    border-bottom: 5px solid #f3f3f3;
}

.sortby li {
    float: left;
    overflow: hidden;
    width: 31%;
    padding: 0;
    list-style: none;
}
.sortby li:first-child {
    width: 18%;
}
.sortby li a {
    font-size: 14px;
    display: block;
    text-align: center;
    color: #333;
    padding-left: 10px;
}
.sortby li:nth-child(2) a {
    border-right: 1px solid #ddd;
}
.filter {
    display: block;
    height: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    max-width: 640px;
    margin: auto;
    padding: 7px 0;
    background: #fff;
    box-shadow: 0 0 3px;
}
.filter.nostick {
    box-shadow: unset;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 0;
}
.filter li {
    float: left;
    width: 22.5%;
    margin-left: 2%;
}

.filter li .criteria {
    display: block;
    overflow: hidden;
    background: #f3f3f3;
    padding: 5px 0;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.filter li .criteria:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid #288ad6;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}


.filter li div.fsub a{color: #333;text-align: right;}
.filter li label.all a{color: #288ad6}
.filter li label.check a{padding-left: 2px;}

.filter li div.fsub {
    display: none;
    overflow: visible;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    padding: 5px 10px;
    position: absolute;
    box-sizing: border-box;
    left: 1%;
    right: 1%;
    top: 40px;
    z-index: 11;
    position: absolute;
}
/* .filter li:hover div.fsub {display: block} */

.filter li div:before,
.filter li div:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 45%;
    border-bottom: 10px solid #d9d9d9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}
.filter li .manufacture:before, .filter li .manufacture:after {left: 5%;}
.filter li .listprice:before, .filter li .listprice:after {left: 30%;}
.filter li .feature:before, .filter li .feature:after {left: 55%;}
.filter li .sortprice:before, .filter li .sortprice:after {left: 80%;}
.filter li div:after {border-width: 9px; border-bottom-color: #fff; margin-left: 1px }
.filter li div .all {display: block; overflow: hidden; border-bottom: 1px solid #d9d9d9; font-size: 14px; color: #333; padding: 10px 0 }
.filter li strong {font-size: 14px }
.filter li aside {float: left; overflow: hidden; width: 50%; padding: 10px 0 }
.filter li .rowfeature {float: none; width: 100%; border-bottom: 1px solid #d9d9d9; display: block; padding: 0 }
.filter li .rowfeature aside {width: 50% }
.filter li label {display: block; padding: 5px 0 6px; cursor: pointer; text-indent: 20px }
.filter li label:hover {color: #288ad6 } .filter li .feature .all{border-bottom: none}
.filter li .feature .breakline{border-bottom: 1px solid #d9d9d9}
.filter li.sort-last{margin-right: 10px}


/* goods list*/
.overpromo {
    display: block;
    background: transparent;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%,100%);
    -ms-scroll-chaining: chained;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}
.cate {
    display: block;
    clear: both;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #eee
}
.cate li {
    float: left;
    position: relative;
    background: #fff;
    width: 49.7%;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}
.cate li:nth-child(2n+2){border-right: none}
.cate li.hide {
    display: none
}
.cate li a {
    display: block;
    overflow: hidden;
    padding: 0 10px
}
.cate li h3 {
    display: block;
    overflow: hidden;
    height: 35px;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    clear: both;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis
}
.cate li strong {
    display: block;
    overflow: hidden;
    font-size: 16px;
    color: #d0021b;
    margin: 10px 0;
    clear: both;
}



.cate li img {
    display: block;
    margin: 10px auto;
    height: auto;
    width: auto;
    max-width: 95%
}

.cate li strong del {
    color: #333;
    display: inline;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}

.cate li .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    z-index: 2;
}
.cate li label {
    position: absolute;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #fff;
    border-radius: 3px;
    padding: 2px 10px;
    z-index: 2;
    right: 10px;
    top: 10px;
}
.cate li label.installment {
    background: #ff6a00
}

.cate li label.new {
    background: #3fb846
}

.cate li .promotion {
    max-height: 56px;
    padding: 0px 0;
    position: relative;
}
.cate li span, .cate li .promotion p  {
    color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cate li .promotion p::before {
    color: #999;
    content: "•";
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
}
.cate_mobile li:nth-child(2n+1) {
   clear: left;
}
.cate_mobile li:nth-child(2n+2) {
   clear: right;
}

.listpromo {
    background: #f4f4f4;
    padding: 10px 0;
    width: 100%
}
.listpromo li {
    float: left;
    width: 190px;
    background: #fff;
    position: relative;
    padding: 0;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 318px;
}

.pagination{margin:15px auto;font-size:16px;text-align:center;clear:both}
.pagination a{display:inline-block;margin-left:2px;padding:8px 16px;background-color:#f4f4f4;border-radius:3px}
.pagination a:hover{background-color:#f60;color:#fff}
.pagination a.current{color:#fff;background-color:#f60;}
.pagination span{display:inline-block;padding:3px 6px}

@media screen and (max-width:384px) {
    .sub-filter a{width: 44%;overflow: hidden;text-overflow: ellipsis}
}
@media screen and (max-width:360px) {
}
@media screen and (max-width:240px) {
}


/* article detail */
article{
    display: block;
    overflow: hidden;
    margin: auto;
    padding: 0 10px
}
article p, article div, article h2, article h3 {
    margin: 10px auto;
    font-size: 14px;
    color: #333;
    line-height: 28px;
}
article h2{font-size: 16px;margin: 20px 0}
article>div {margin-top: 0}
article div em, article p em{font-style: italic}
article h2, article h3, article h4, article h5{font-weight: 700}
article a, article a:hover, article a:active {color: #288ad6;font-size: 14px}
article h2 a, article h2 a:hover, article h2 a:active{font-size: 16px}
article h3 {font-size: 16px}
article ul{list-style: disc;margin-left: 30px}
article ol{margin-left: 30px; list-style: decimal;}
article img {
    display: block;
    height: auto;
    margin: 10px auto;
    width: 100% !important;
}
article .short_view {
    max-height: 300px;
    clear: both;
    overflow: hidden;
    display: block;
}
article .view-more {background: #fff;width: 100%;min-height: 50px}
article .view-more p {margin-top: 0px; text-align: center}
article .view-more p:before{height: 55px;margin-top: -20px;display: block;content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.2,#fff),to(rgba(255,255,255,0)))}
article .view-more p span { width: 50px;color: #fe6700  ;cursor: pointer;border:1px solid  #fe6700;padding:8px 25px;border-radius: 3px;background: #fff}
article .view-more p span:hover{background: #fe6700;color: #fff}


/* danh muc tin */
.scrollmenu {
    display: block;
    background: transparent;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%,100%);
    -ms-scroll-chaining: chained;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0;
       padding-bottom: 10px;
}
.mnav{
    padding: 10px;
    width: 100%;
    clear: both;
    display: block;
}
.mnav li {
    float: left;
    width: 74px;
    display: inline-block;
    background: #fff;
    position: relative;
   padding: 7px 10px;
   text-align: center;
    margin-left: 5px;
    border: 1px solid #4a90e2;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:125px;
}
.mnav li a{color: #4a90e2;}
.mnav li.active {background: #4a90e2;color: #fff}
.mnav li.active a{color: #fff}


.rank_click {margin-top: 10px}
.rank{margin: 0;display:inline-block;float: left;height:12px;width:80px;text-indent:-999em;background:url('../img/stars.gif') no-repeat left top;background-size: 65px 70px;box-sizing: border-box;}
.rank_2{background-position:0 -12px}
.rank_3{background-position:0 -24px}
.rank_4{background-position:0 -35px}
.rank_5{background-position:0 -46px}
.rank_0{background-position:0 -58px}
.cat_goods1 {
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}
#showMoreBtn {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    background: white;
    color: #1e73be;
    border: solid 1px;
}
.mnav img {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
